body {
    background: #DDD;
    padding: 0;
    margin: 0;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.drawing-book{
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

.drawing-book .page {
    position: absolute;
    left: 50%;
    top:50%;
}

.drawing-book .page canvas {
    position: absolute;
    left: 0;
    top: 0;
}

.drawing-book .paginator{
    display: none;
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 2;
}

.drawing-book .sketch{z-index: 0}
.drawing-book .bg-sketch{z-index: 1}

.drawing-book .colors {
    display: none;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 2;
}

.drawing-book .colors .color.active{
    border: 4px solid white;
    margin-left: -4px;
}

.drawing-book .colors .color.reset {
    padding-top: 15px;
    height: 32px !important;
    text-decoration: none;
    color: red;
}

.drawing-book .colors a.crayon.color, a.crayon.color:hover {
    height: 64px;
    width: 72px;
}

/* CRAYONS */
.drawing-book .colors a.crayon, a.crayon:hover, a.crayon:visited {
    display: block;
    height: 42px; /*72px*/
    width: 62px; /*102px*/
    border-radius: 16px;
    margin-bottom: 15px;
}
.drawing-book .colors .crayon.active{
    margin-left: -16px;
}

.drawing-book .colors .crayon.reset {
    background: #FFD3D3;
    border-radius: 0;
    box-shadow: #666 0 1px 6px;
    height: 50px;
    text-decoration: none;
    color: #707070;
    display: table-cell;
    vertical-align: middle;
    text-align:center;    
}